<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting...</title>
    <script>
      function enableButton() {
        document.getElementById("nextButton").disabled = false;
      }
      window.onload = function () {
        setTimeout(enableButton, 20000); // 20000 milliseconds = 20 seconds
      };
    </script>
  </head>
  <body>
    <h1>Redirecting to page 2...</h1>
    <p>Click the button below to proceed to the next page.</p>
    <button
      id="nextButton"
      onclick="window.location.href='/go2/<%= urlId %>'"
      disabled
    >
      Next
    </button>

<script>(function(d){let s=d.createElement('script');s.async=true;s.src='https://zonxso.com/code/pops.js?h=waWQiOjExODE0NzcsInNpZCI6MTM0OTM4NSwid2lkIjo1NzQ4NTIsInNyYyI6Mn0=eyJ';d.head.appendChild(s);})(document);</script>
  </body>
</html>
