<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting...</title>
    <script>
      function enableButton() {
        document.getElementById("nextButton").disabled = false;
      }
      window.onload = function () {
        setTimeout(enableButton, 20000); // 20000 milliseconds = 20 seconds
      };
    </script>
  </head>
  <body>
    <h1>Redirecting to page 2...</h1>
    <p>Click the button below to proceed to the next page.</p>
    <button
      id="nextButton"
      onclick="window.location.href='/go2/<%= urlId %>'"
      disabled
    >
      Next
    </button>
  </body>
</html>
